/*Reset*/
body {
  margin: unset;
  padding: unset;
}

h1,
h2,
p,
ul,
strong,
hr,
li {
  margin: unset;
  padding: unset;

  font-size: unset;
  font-weight: unset;
  font-family: unset;
  font-style: unset;
}

li {
  list-style-type: none;
}
img {
  vertical-align: top;
  max-width: 100%;
}
/*typography*/
:root {
  font-family: Montserrat;

  --color-white: #fff;
  --color-black: #111;

  --color-pink-10: #fff5ed;
  --color-pink-20: #f98173;
  --color-orangered: #ff4500;

  --color-purple-10: #ebdbff;
  --color-purple-20: #c89dff;
  --color-purple-30: #6230a2;

  --color-gray-10: #eee;
  --color-gray-20: #999;
  --color-gray-30: #333;

  --padding-card: 20px;
}

/*Layout*/
.l_wrapper {
  max-width: 1080px;
  margin: 92px auto 100px auto; /*마진 병합 현상이 일어나서 main-top 부분에도 마진이 생겨 위에가 보라색 안채워지고 뜸*/
}

/*Design*/

.main-top {
  background-color: var(--color-purple-30);
  overflow: hidden; /* 이 속성을 이용하여 마진 병합 현상 해결할 수 있음*/
}

.main-bottom {
  background-color: var(--color-pink-10);
  overflow: hidden; /* 이 속성을 이용하여 마진 병합 현상 해결할 수 있음*/
}

.header-container {
  display: flex;
  align-items: center;
}

.header-title {
  font-size: 40px;
  font-weight: 500;
  line-height: 110%;
}
.header-title.top {
  color: var(--color-white);
  flex-basis: 260px;
}
.header-title.bottom {
  color: var(--color-pink-20);
  flex-basis: 360px;
}

.header-title strong {
  font-weight: 700;
  position: relative;
  z-index: 0;
}

.header-title.top strong::after {
  content: "";
  background-color: var(--color-orangered);

  position: absolute;
  z-index: -1;

  height: 26px;
  width: 197px;
  left: 0;
  bottom: 0;
}
.header-title.top strong.first::after {
  width: 248px;
}

.header-title.bottom strong::after {
  content: "";
  display: block;
  background-color: var(--color-white);
  width: 300px;
  height: 26px;

  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1; /*부모요소에 0 두고 -1 적용하면 부모 뒤에 깔린다.*/
}

.header-content::before {
  content: "";
  display: block;
  background-color: var(--color-purple-10);
  width: 90px;
  height: 1px;

  position: absolute;
  top: 50%;
  left: 0;

  transform: translate(22px, -50%);
}
.header-content {
  color: var(--color-purple-10);
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;

  flex-basis: 460px;
  position: relative;
  padding-left: 144px;
}

.header-button {
  background-color: var(--color-orangered);
  padding: 0 14px;
  margin-left: auto;
  border-radius: 4px;
  border: none;
  border-bottom: 4px solid rgba(0, 0, 0, 0.1);

  color: var(--color-white);
  font-size: 16px;
  font-weight: 700;
  line-height: 275%;
}

.list-grid {
  display: grid;

  grid-template-columns: 7fr 13fr 7fr;
  grid-template-rows: repeat(3, minmax(0, 148px));

  row-gap: 30px;
}

.list-image {
  position: relative;
}

.image-image {
  width: 100%;
  height: 100%;

  opacity: 0.5;
}

.image-title {
  color: var(--color-white);
  font-size: 32px;
  font-weight: 500;
  line-height: 110%;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.list-content {
  background-color: var(--color-white);
  grid-column: 2 / 4;
  padding: 1rem 1.31rem 1.31rem 0.75rem;
}

.list-content.reverse {
  grid-column: 1 / 3;
}

.content-title {
  color: var(--color-purple-30);
  font-size: 18px;
  font-weight: 700;

  padding: 0 0 14px 21px;
}

.content-list {
  color: var(--color-black);
  font-size: 14px;
  font-weight: 400;

  display: flex;
  flex-direction: column;
  gap: 12px;
}

.content-list li {
  margin-left: 46px;
  position: relative;
}

.content-list li::before {
  content: "";
  background-color: var(--color-purple-20);

  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;

  position: absolute;
  top: 50%;
  left: -24px;
  transform: translate(-50%, -50%);
}

.card-grid {
  display: grid;
  grid-auto-flow: column;

  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: auto auto auto;

  column-gap: 30px;

  position: relative;
}

.card-badge {
  position: absolute;
  top: -10px;
  left: -10px;
}

.card-image {
  width: 340px;
  border-bottom: 4px solid var(--color-black);
}

.card-container {
  background-color: var(--color-white);

  display: flex;
  flex-direction: column;
  gap: var(--padding-card);

  padding: var(--padding-card);
  font-size: 14px;
}

.card-tag {
  background-color: var(--color-white);

  display: flex;
  gap: 4px;
}
.tag {
  background-color: var(--color-purple-10);
  padding: 2px 12px 3px 12px;
  border-radius: 12px;

  color: var(--color-purple-20);
  font-weight: 600;
}

.card-title {
  color: var(--color-black);
  font-size: 24px;
  font-weight: 700;
}

.card-content {
  color: var(--color-gray-30);
  font-weight: 400;
  line-height: 22px;
}

.card-footer::before {
  content: "";
  background-color: var(--color-gray-10);
  display: block;
  height: 4px;
  width: calc(100% - var(--padding-card));

  position: absolute;
  right: 0;
  top: 0;
}

.card-footer {
  background-color: var(--color-white);
  padding: 0 var(--padding-card);
  display: flex;
  align-items: center;

  position: relative;
}

.footer-title {
  color: var(--color-gray-20);
  font-size: 14px;
  font-weight: 400;
}

.footer-images {
  padding: 14px 13px 16px 0;
  margin-left: auto;
}

.footer-image {
  width: 30px;
  height: 30px;
  border: 2px solid var(--color-white);
  border-radius: 15px;

  margin-right: -13px;
}

@media (max-width: 700px) {
  .list-grid {
    grid-auto-flow: column;

    width: 100%;
  }

  .header-container {
    flex-direction: column;
    gap: 30px;

    text-align: center;
  }

  .header-title.top {
    flex-basis: 0;
    width: 80%;
  }
  .header-title.bottom {
    flex-basis: 0;
    width: 80%;
  }

  .header-title.bottom strong::after {
    display: none;
  }
  .header-content {
    padding: 0;
    width: 80%;
    flex-basis: 0;
  }
  .header-content::before {
    display: none;
  }
  .header-button {
    padding: 0;
    margin: 0 auto;
  }

  .card-grid {
    grid-auto-columns: auto;
  }

  .card-tag {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .tag {
    width: 90%;
  }
}
