body {
  margin: unset;
  padding: unset;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.input-container {
  margin-bottom: 30px;
}
li {
  list-style-type: circle;
}
