/* Reset */
body,
p {
  margin: unset;
}

h1 {
  margin: unset;
  font-size: unset;
  font-family: unset;
  padding: unset;
}

a {
  color: unset;
  text-decoration: unset;
}
/* Layout */
.wrapper {
  width: 960px;
  margin: 30px auto;
}

/* Design */
body {
  background-image: url(./images/bg.png);
}

.header {
  box-shadow: inset 0 0 20px gold;
  margin-bottom: 30px;
}

.header .icon {
  background-color: black;
  width: 200px;
  height: 200px; /* 인라인 요소에는 너비, 높이 안먹음 -> inline-block으로 크기 조정*/
  /* 태생이 inline level 요소인 a요소를 block level로 강제! */
  display: inline-block;
  text-align: center;
  line-height: 210px;
  border-radius: 50%;
  text-decoration: none;
  letter-spacing: 0.4em;
}

.logo {
  background-image: url(./images/logo.png);
  text-indent: -9999px;
}

.header .icon.lemon {
  color: yellow;
}

.header .icon.lemon:hover {
  background-image: url(./images/lemon.png);
  text-indent: -9999px;
}

.header .icon.orange {
  color: orange;
}

.header .icon.orange:hover {
  background-image: url(./images/orange.png);
  text-indent: -9999px;
}

.header .icon.jamong {
  color: red;
}

.header .icon.jamong:hover {
  background-image: url(./images/jamong.png);
  text-indent: -9999px;
}

.content {
  width: 960px;
  background-color: white;
  background-image: url(./images/contents-bg.png);
  background-repeat: no-repeat;
  background-position: right;
  border-radius: 50px;
  padding: 50px;
  box-sizing: border-box;
  margin: 0 auto;
  line-height: 1.8;
}

.content h1 {
  font-family: "Montserrat", sans-serif;
  color: #ff6600;
  font-size: 2em;
  margin-bottom: 20px;
}

.content span {
  font-size: 20px; /* 상속 받은 40px의 0.5배가 자동으로 계산됨  --> 유지 보수를 위해*/
  color: #666;
  vertical-align: super;
  font-weight: normal;
}

.content p {
  color: #999;
}
.content strong {
  color: white;
  background-color: #ff6600;
  border-radius: 5px;
  padding: 3px 8px;
  font-weight: 800;
}

.content a {
  color: #2da237;
}
.footer {
  box-shadow: inset 0 0 20px gold;
  text-align: right;
}
