/* Reset */
body {
  margin: unset;
  padding: unset;
}

hr,
h4,
p,
ul {
  font-size: unset;
  font-weight: unset;
  font-family: unset;

  margin: unset;
  padding: unset;
}

li {
  list-style-type: none;
}
img {
  vertical-align: top;
}
/* Layouts */
.l_wrapper {
  width: auto;
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

/* Typography */
:root {
  font-family: arial;
}

/* Components */
body {
  color: #999;
  background-color: black;
}

.header {
  background-color: #111111;
  height: 180px;
}

.header-bar {
  height: 180px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #999999;
  gap: 30px;
}

.description {
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.description::before {
  content: "";
  width: 60px;
  height: 1px;
  display: inline-block;
  background-color: currentColor;
}

img.logo {
  width: 200px;
}

img.anger {
  width: 140px;
  margin-left: auto;
  margin-top: auto;
}

.container {
  display: flex;
  align-items: flex-start;
  gap: 24px;
  min-height: 848px;
  padding: 24px 0;
}

.container-main {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.card-container {
  background-color: #222222;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  overflow: hidden;
  width: 320px;

  padding-bottom: 10px;
}

.card-main {
  padding: 20px;
  flex-grow: 1;
}

.card-title {
  font-size: 16px;
  font-weight: bold;
  color: #ebb3bb;
  margin-bottom: 12px;
}

.card-content {
  font-size: 12px;
  color: #999999;
  line-height: 18px;
}

.card-button {
  margin: 0 auto;

  width: 300px;
  height: 48px;
  background-color: #111111;
  border: none;
  border-radius: 10px;

  color: #ff0000;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 4px;
}

.container-sidebar {
  flex-basis: 168px;
  flex-shrink: 0;

  display: flex;
  flex-direction: column;

  justify-content: flex-start;
}

.sidebar-container {
  color: #999;
  display: flex;
  align-items: center;
  height: 30px;
}

.sidebar-image {
  width: 16px;
  height: 16px;
}

.sidebar-title {
  font-size: 16px;
  font-weight: 400;
  padding-left: 9px;
}

.section-container {
  background-color: #111111;
}

.section-title {
  font-size: 14px;
  color: #fa8073;
  border-top: 1px solid #fa8073;
  padding: 8px 0px 0px 10px;
  margin-bottom: 15px;
}

.section-content {
  color: #999;
  font-size: 12px;
  margin-left: 20px;
  padding: 5px 0;

  border-bottom: 1px solid #333333;
}

.section-content.last {
  border: none;
  padding-bottom: 15px;
}

.footer {
  background-color: #111111;
  color: #666666;
  font-size: 16px;
}

.footer-container {
  display: flex;
  align-items: center;

  height: 77px;
}
