/*reset*/
body {
  margin: unset;
  padding: unset;
}

img {
  vertical-align: top;
}
h1,
p,
ul {
  font-size: unset;
  font-weight: unset;
  font-family: unset;
  padding: unset;
  margin: unset;
}

li {
  list-style-type: none;
}

:root {
  font-family: Arial;
}

/*layout*/
.l_wrapper {
  margin: auto;
  max-width: 960px;
}

/*design*/

body {
  background-color: #d9d9d9;
}

.header {
  background-color: white;
}
.header-container {
  display: flex;
  align-items: center;
  height: 160px;
}
.header-title {
  font-size: 24px;
  font-weight: 700;
  color: #ff6600;
}
.header-image {
  width: 124px;
  margin-left: auto;
}

.l_row {
  padding: 30px 0;
  display: flex;
  margin: 0 -15px;
}
.l_col {
  width: calc(100% / 3);
  padding: 0 15px;
  box-sizing: border-box;
}
.l_col_12_12 {
  width: 100%;
}
.l_col_11_12 {
  width: 91.66666667%;
}
.l_col_10_12 {
  width: 83.33333333%;
}
.l_col_9_12 {
  width: 75%;
}
.l_col_8_12 {
  width: 66.66666667%;
}
.l_col_7_12 {
  width: 58.33333333%;
}
.l_col_6_12 {
  width: 50%;
}
.l_col_5_12 {
  width: 41.66666667%;
}
.l_col_4_12 {
  width: 33.33333333%;
}
.l_col_3_12 {
  width: 25%;
}
.l_col_2_12 {
  width: 16.66666667%;
}
.l_col_1_12 {
  width: 8.33333333%;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  overflow: hidden;
}

.hotdog {
  color: #ff6600;
}
.burger {
  color: #17a651;
}
.pizza {
  color: #0075ff;
}

.card {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.card-title {
  padding: 10px 20px;
  margin-top: -48px;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 0px 12px 0px 0px;
  width: fit-content;

  font-size: 24px;
  font-weight: 700;
}
.card-content {
  padding: 20px;
  background-color: white;

  color: #666;
  font-size: 14px;
  font-weight: 400px;
  line-height: 19.6px;
}

.card-content strong {
  font-weight: 700;
}

.card-footer {
  background-color: #f4f4f4;
  display: flex;
  gap: 6px;
  padding: 26px 18px;
}

.card-tag {
  padding: 2px 8px 4px 8px;

  border-radius: 48px;
  color: white;
  font-family: Noto Sans CJK KR;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}

.card-tag.hotdog {
  background-color: #f60;
}
.card-tag.burger {
  background-color: #17a651;
}
.card-tag.pizza {
  background-color: #0075ff;
}
.card-tag span {
  color: rgba(255, 255, 255, 0.5);
}

.footer {
  color: #aaa;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 2.88px;

  padding-bottom: 40px;
}

@media (max-width: 600px) {
  .header-container {
    display: flex;
    flex-direction: column;
    padding: 40px 0;
  }
  .header-title {
    order: 2;
  }
  .header-image {
    order: 1;
    margin: auto;
    padding-bottom: 16px;
  }
  .l_row {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .footer {
    text-align: center;
  }
  .l_col_mobile_12_12 {
    width: 100%;
  }
  .l_col_mobile_11_12 {
    width: 91.66666667%;
  }
  .l_col_mobile_10_12 {
    width: 83.33333333%;
  }
  .l_col_mobile_9_12 {
    width: 75%;
  }
  .l_col_mobile_8_12 {
    width: 66.66666667%;
  }
  .l_col_mobile_7_12 {
    width: 58.33333333%;
  }
  .l_col_mobile_6_12 {
    width: 50%;
  }
  .l_col_mobile_5_12 {
    width: 41.66666667%;
  }
  .l_col_mobile_4_12 {
    width: 33.33333333%;
  }
  .l_col_mobile_3_12 {
    width: 25%;
  }
  .l_col_mobile_2_12 {
    width: 16.66666667%;
  }
  .l_col_mobile_1_12 {
    width: 8.33333333%;
  }
}
