body {
  margin: unset;
  padding: unset;
}
h1,
h2,
p,
a {
  margin: unset;
  padding: unset;
  font-size: unset;
  font-weight: unset;
  font-style: unset;
  text-decoration: unset;
  color: unset;
}
img {
  margin: unset;
  padding: unset;
  vertical-align: unset;
  max-width: 100%;
}

:root {
  --font-en: "Arial";
  --font-ko: "Noto Sans KR";

  --color-white: #fff;
  --color-gray-50: #999;
  --color-gray-80: #222;
  --color-gray-90: #111;
  --color-black: #000;
}

body {
  background-color: var(--color-gray-90);
  font-family: var(--font-en);
}

.header {
  box-shadow: inset 0 0 20px black;
  aspect-ratio: 16/9;
  min-height: 0;
  position: relative;
  overflow: hidden;

  z-index: -1;
  margin-bottom: -10%;
}

.header-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.header::after {
  content: " ";
  position: absolute;

  left: 0;
  right: 0;
  bottom: 0;
  height: 30%;

  background-image: linear-gradient(
    to bottom,
    rgba(17, 17, 17, 0) 0%,
    rgba(17, 17, 17, 1) 100%
  );
}

.main {
  margin: 0 100px 60px 60px;

  z-index: 0;
}

.title-container {
  color: white;
}
.title-button {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2.16px;

  background-color: #ff2e00;
  border-radius: 8px;
  padding: 4px 12px;
  height: 28px;
}
.title-title {
  font-size: 64px;
  font-weight: 700;
}

.container {
  display: flex;
  gap: 100px;
}

.content {
  color: white;
  flex-grow: 1;
}

.content-content {
  color: #999;
  font-family: var(--font-ko);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;

  padding-top: 26px;
}
.sidebar {
  color: white;

  flex-basis: 250px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 40px;

  margin-top: -50px; /*z-index는 flexbox에도 사용 가능*/
}

.category-name {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.6;

  margin-bottom: 20px;
}
.tag-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.category-tag {
  background-color: #222222;
  padding: 0 14px;

  color: #aaa;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.6;
  border-radius: 12px;
}
.category-rate {
  width: 240px;
  background-image: url(./images/star.png);
  background-size: 240px 96px;
  width: 240px;
  height: 48px;
  box-shadow: inset 0 0 20px orange;
}
.category-rate::before {
  content: "";
  display: block; /*원래 가상요소: inline 요소 -> width와 height 를 지정할 수 없음*/
  box-shadow: inset 0 0 20px red;
  width: 60%;
  height: inherit;
  background-image: inherit; /*한번에 지정 위에서 상속받아서*/
  background-size: inherit;
  background-position: left bottom;
}

.category-images {
  display: flex;
  flex-wrap: wrap;
}
.cast-image {
  width: 64px;

  border-radius: 32px;
  border: 4px solid #111;
  margin-left: -18px;
}
.cast-image.first {
  margin-left: -8px;
}

@media (max-width: 700px) {
  .container {
    flex-direction: column;
    margin: 0 60px;
    gap: 48px;
  }
  .sidebar {
    max-width: 250px;
    margin: 0;
  }
}
